@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w-primary {
    max-width: 500px;
}

.min-h-textarea {
    min-height: 3em;
}

.drag-none {
    -webkit-user-drag: none;
}

*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
